<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <tr>
        <td th:text="'id: ' + ${user.id}">id</td> <!--Ячейка в таблице -->
        <br>
        <td th:text="'name: ' + ${user.username}">Username</td>
        <br>
        <td>
            <span th:each="role: ${user.roles}" th:text="'role: ' + ${role.name}"></span>
        </td>

    </tr>


<br><br>
<form th:action="@{/logout}" th:method="post">
    <button>Выйти</button>
</form>
</body>
</html>