<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<table>
    <tr>  <!-- tr - строка в таблице -->
        <th>Name</th>  <!-- шапка таблицы-->

        <th>password</th>

    </tr>
    <tr>
        <td th:text="${user.name}"></td> <!--Ячейка в таблице -->

        <td th:text="${user.password}"></td>

    </tr>

</table>
<br>
<form th:action="@{/logout}" th:method="post">
    <button>Выйти</button>
</form>
</body>
</html>